@if (addTask()) {
    <app-task-modal (didDismiss)="addTask.set(false)" (onCreate)="createNewTask($event)"/>
}

<section id="tasks">
    <header>
        <h2>{{ userName() }}' Tasks</h2>
        <menu>
            <button (click)="addTask.set(true)">Add Task</button>
        </menu>
    </header>
    <ul>
        @for (task of selectedUserTasks; track task.id) {
            <li>
                <app-task [task]="task" (onCompletedTask)="onCompletedTaskId($event)"/>
            </li>
        }
    </ul>
</section>
